<!-- Sidebar -->
<div class="bg-light border border-secondary" id="sidebar-wrapper">
    <div class="sidebar-heading"><strong><u>Admin</u></strong></div>
    <div class="list-group list-group-flush">

        <a href="~/Administration/AdminDashboard/Index" class="list-group-item list-group-item-action bg-light">Dashboard</a>

        <a href="~/Administration/AdminBlogPosts/Index" 
           class="list-group-item list-group-item-action bg-light">Blog Posts</a>

        <a href="~/Administration/AdminCategories/Index"
           class="list-group-item list-group-item-action bg-light">Categories</a>

        <a href="~/Administration/AdminServices/Index"
           class="list-group-item list-group-item-action bg-light">Services</a>

        <a href="~/Administration/AdminCities/Index"
           class="list-group-item list-group-item-action bg-light">Cities</a>

        <a href="~/Administration/AdminSalons/Index"
           class="list-group-item list-group-item-action bg-light">Salons</a>

        <a href="~/Administration/AdminAppointments/Index"
           class="list-group-item list-group-item-action bg-light">Appointments</a>

    </div>
</div>
<!-- /#sidebar-wrapper -->
