<div class="menu trans_500">
    <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="menu_close_container"><div class="menu_close"></div></div>
        <ul>
            <li class="menu_item"><a href="~/Administration/AdminDashboard/Index">Admin Dashboard</a></li>
            <li class="menu_item"><a href="~/Administration/AdminBlogPosts/Index">Blog Posts</a></li>
            <li class="menu_item"><a href="~/Administration/AdminCategories/Index">Categories</a></li>
            <li class="menu_item"><a href="~/Administration/AdminServices/Index">Services</a></li>
            <li class="menu_item"><a href="~/Administration/AdminCities/Index">Cities</a></li>
            <li class="menu_item"><a href="~/Administration/AdminSalons/Index">Salons</a></li>
            <li class="menu_item"><a href="~/Home/Index">BACK TO HOME PAGE</a></li>
        </ul>
    </div>
</div>

