

<li class="menu_item"><a href="/Home/Index">Home</a></li>
<li class="menu_item"><a href="/Categories/Index">Categories</a></li>
<li class="menu_item"><a href="/Salons/Index">Salons</a></li>
<li class="menu_item"><a href="/BlogPosts/Index" asp-controller="BlogPosts" asp-action="Index">Blog</a></li>
<li class="menu_item">
    <a href="/Appointments/Index"><i class="fa fa-calendar" aria-hidden="true"></i> Appointments</a>
</li>

@if (User.Identity.IsAuthenticated && this.User.IsInRole("Manager"))
{
    <li class="menu_item">
        <a href="/Manager/ManagerDashboard/Index"><i class="fa fa-tasks" aria-hidden="true"></i> Salon Manager</a>
    </li>
}
