@model BeauitySaloonWeb.Models.ViewModel.Salons.SalonsSimpleListViewModel

@{
    if (Model.Salons != null)
    {
        foreach (var salon in Model.Salons)
        {
            <a href="/Manager/ManagerSalons/Details/@salon.Id"
               class="list-group-item list-group-item-action bg-light">@salon.Name</a>
        }
    }
}
