@{
    this.ViewData["Title"] = "Salon Manager Dashboard";
}

<h3>Welcome to Salon Manager Dashboard!</h3>
<p>Here are the salons you manage:</p>

<div>
    <div id="_SalonsSimpleListIndex"></div>
</div>
@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
            SalonsSimpleList();
        });

        function SalonsSimpleList() {
            $.ajax({
                type: "Get",
                url: "/ManagerDashboard/SalonsSimpleList",
                success: function (res) {
                    $('#_SalonsSimpleListIndex').empty().html(res);
                    $('#_SalonsSimpleList').empty().html(res);
                },
                error: function (res) {
                    alert(res);
                }
            });
        }
    </script>
}